.LandingPage {
  background: url(../static/bright-chart-data-210607.jpg) no-repeat center
    center fixed;
  background-size: cover;
}

.lp_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
